.signup {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 18rem;
  margin: auto;
}

h2 {
  text-align: center;
  color: #333;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.btnSignup {
  background-color: #007bff;
  margin: 0.5rem 0rem;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.btnSignup:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  text-align: center;
}

.account {
  margin-top: 1.5rem;
  font-size: 13px;
  text-align: center;
}
.anchor {
  /* color: "#007bff";
   */
  color: #0056b3;
  text-decoration: underline;
}
.anchor:hover {
  color: #0056b3;
  background: #ccc;
}
